body{
	font-family: arial;
	background: url(fondo.jpg);
	background-size: 100%;
}

.nav{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #fff;
	border: 5px solid black;
	border-radius: 15%;
	top:6px;
	right: 45%;
}

.b1{
	position: absolute;
	top: 20%;
	left: 30%;
	text-decoration: none;
	color: #000;
}

.b2{
	position: absolute;
	top: 40%;
	left: 30%;
	text-decoration: none;
	color: #000;
}

.b3{
	position: absolute;
	top: 60%;
	left: 30%;
	text-decoration: none;
	color: #000;
}

.esc{
	position: absolute;
	top: 1800px;
	width: 200px;
	height: 400px;
	background: #fff;
	left: 30px;
	font-size: 30px;
	border: 10px solid black;
	border-radius: 10%;
}

.img1{
	position: absolute;
	top: 1800px;
	width: 200px;
	height: 400px;
	background: #fff;
	right: 30px;
	font-size: 30px;
	border: 10px solid black;
	border-radius: 10%;
}

.mosqui{
	position: absolute;
	width: 200px;
	height: 200px;
	border: 10px solid black;
	border-radius: 10%;
	top:1800px;
	right: 45%;
}

.kekw{
	position: absolute;
	left: 60px;
	top: 50px;
}

.kwke{
	text-align: center;
}

.mosquii{
	position: absolute;
	width: 200px;
	height: 200px;
	border: 10px solid black;
	border-radius: 10%;
	top:1800px;
	right: 45%;
	opacity: 0;
}

.mosquii:hover{
	opacity: 1;
}

.img2{
	position: absolute;
	width: 400px;
	height: 500px;
	border: 10px solid black;
	border-radius: 10%;
	top:780px;
	right: 5%;
}

.ini{
	position: absolute;
	width: 400px;
	height: 550px;
	border: 10px solid black;
	border-radius: 10%;
	top:780px;
	left: 5%;	
	font-size: 40px;
	background: #fff;
}

.func{
	position: absolute;
	width: 500px;
	height: 500px;
	border: 10px solid black;
	border-radius: 10%;
	top:3020px;
	right: 30%;	
}

.vec{
	position: absolute;
	width: 500px;
	height: 500px;
	border: 10px solid black;
	border-radius: 10%;
	top:3020px;
	right: 30%;	
	opacity: 0;	
}

.vec:hover{
	opacity: 1;
}

.ul{
	position: absolute;
	width: 500px;
	height: 500px;
	border: 10px solid black;
	border-radius: 10%;
	top:2500px;
	right: 30%;
	background: #fff;
	font-size: 40px;
}

